nav {
  background-color: rgb(88, 35, 162);
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: white;
  font-size: 3rem;
}

.menu {
  flex: 1;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.menu ul li,
.link {
  list-style: none;
  text-decoration: none;
  color: white;

  cursor: pointer;
}
.menu ul li:hover,
.link:hover {
  color: var(--bg-background-light);
}

.icons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: 5rem;
  color: white;
}
.icons :nth-child(3) {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 680px) {
  .container {
    max-width: 95vw;
  }
  .menu {
    display: none;
  }
  .icons {
    margin-left: 2rem;
  }
  .icons :nth-child(3) {
    display: block;
  }
}
